<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/invoice.css">
</head>

<body>

    <div class="container-fluid invoice-container">


        <div class="row invoice-header">
            <div class="invoice-col">

                <p><img src="http://svetu.co.zw/svetu-logo.jpg" title="svetu" /></p>
                <h3>Invoice #
                    <%=orderId%>
                </h3>

            </div>
            <div class="invoice-col text-center">

                <div class="invoice-status">
                    <span class="unpaid">Not Paid</span>
                </div>


            </div>
        </div>

        <hr>


        <div class="row">
            <div class="invoice-col">
                <strong>Invoiced To</strong>
                <address class="small-text">
                    <%= firstname%> <%= lastname%><br />
                    Jason Moyo Cnr 1st Street, <br />
                    Harare, , 263<br />
                    Zimbabwe
                </address>
            </div>
            <div class="invoice-col right">
                <strong>Pay To</strong>
                <address class="small-text">
                    <!-- Dialawash.co.zw<br /> -->
                    Svetu (PVT) LTD<br />
                    Batanai Gardens<br />
                    7 Jason Moyo Avenue<br />
                    Harare <br />
                    <!-- CABS Account Name - Svetu, No - ,<br /> -->
                    <!-- Address – 7 Jsaon Moyo Avenue, Harare <br /> -->
                    <br />
                    Support Email : Support@dialawash.co.zw<br />
                    Sales Support : Sales@dialawash.co.zw
                </address>
            </div>

        </div>

        <div class="row">
            <div class="invoice-col right">
                <strong>Payment Method</strong><br>
                <span class="small-text">
                    Paynow
                </span>
                <br /><br />
            </div>
            <div class="invoice-col">
                <strong>Invoice Date</strong><br>
                <span class="small-text">
                    <%=date%><br><br>
                </span>
            </div>
        </div>

        <br />



        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Invoice Items</strong></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td width="20%" class="text-center"><strong>Amount</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(product => { %>
                            <tr>
                                <td>
                                    <%= product.title %><br />
                                    <small>
                                        <%= product.description %></small>
                                    <!-- + DNS Management<br />
                                    + Email Forwarding<br /> -->
                                    <!-- + ID Protection -->
                                </td>
                                <td class="text-center">$
                                    <%= product.price %>.00 USD</td>
                            </tr>
                            <%  }) %>
                            <tr>
                                <td class="total-row text-right"><strong>Sub Total</strong></td>
                                <td class="total-row text-center">$
                                    <%= totalPrice%>.00 USD</td>
                            </tr>
                            <tr>
                                <td class="total-row text-right"><strong>Credit</strong></td>
                                <td class="total-row text-center">$0.00 USD</td>
                            </tr>
                            <tr>
                                <td class="total-row text-right"><strong>Total</strong></td>
                                <td class="total-row text-center">$
                                    <%= totalPrice%>.00 USD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 
<tr>
    <td>Domain Registration - thevillage.co.zw - 1 Year/s (10/01/2019 - 09/01/2020)<br />
        + DNS Management<br />
        + Email Forwarding<br />
        + ID Protection</td>
    <td class="text-center">$1.99 USD</td>
</tr> -->


        <!-- <div class="transactions-container small-text">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td class="text-center"><strong>Transaction Date</strong></td>
                            <td class="text-center"><strong>Gateway</strong></td>
                            <td class="text-center"><strong>Transaction ID</strong></td>
                            <td class="text-center"><strong>Amount</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">10/01/2019</td>
                            <td class="text-center">Paynow</td>
                            <td class="text-center"></td>
                            <td class="text-center">$1.99 USD</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="3"><strong>Balance</strong></td>
                            <td class="text-center">$0.00 USD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="pull-right btn-group btn-group-sm hidden-print">
            <a href="javascript:window.print()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
            <a href="dl.php?type=i&amp;id=13218" class="btn btn-default"><i class="fas fa-download"></i> Download</a>
        </div>


    </div>

    <p class="text-center hidden-print"><a href="/shop/orders">&laquo; Back to Client Area</a></a></p>

    <%- include('../includes/foot.ejs') %>